.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DogsContainer {
  display: flex;
  width: 90%;
  height: 90%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}
.DogLink {
  width: 21vw;
  height: 41vh;
}
.DogContain {
  margin: 10px;
  width: 19vw;
  height: 41vh;
  border-radius: 25px;
  position: relative;
  box-shadow: -3px 3px 16px 9px rgb(0 0 0 / 33%);
  overflow: hidden;
}

.DogCard {
  
  height: 100%;
  width: 100%;
  border-radius: 40px;
  position: relative;
}

.DogImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.DogAncor:hover .DogImg  {
    filter: brightness(0.3);
}
.DogAncor:hover .DogData  {
    display: block;
}

.DogAncor{
  padding-inline-end: 19px;
    color: white;
}
.DogInfo{
  position: absolute;
  left: 10px;
  display: flex;
  bottom: 5px;
  align-items: baseline;
  flex-direction: column;

}
.Dogname {
  color: white;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.DogData{
  display: none;
  padding: 10px;
  margin: 6px;
}
